<div class="container">
  <div class="row-fluid">
    <div class="span10"></div>
    <div class="span2"> <%= link_to 'New Question', new_question_path, class: 'btn' %> </div>
  </div>
  <br/>
  <% MultipleChoiceQuestion.all.each do |question| %>
      <div class="row-fluid question-row">
        <div class="span6">
          <%= link_to question.question, question_path(question) %>
        </div>
        <div class="span4">
          <% question.answers.each do |key, value| %>
              <%= "#{key} #{value}" %>
          <% end %>
        </div>
        <div class="span2">
          <%= link_to "Delete", question_path(question), method: "DELETE", class: "btn" %>
        </div>
      </div>
  <% end %>
  </table>
</div>
