<form action="post_answer" method="post">
    <h1>Did you like open house?</h1>
     <label for="yes">Yes</label>
    <input name="yes" type="checkbox"/>
  <label for="no">No</label>
    <input name="no" type="checkbox"/>
    <input type="submit">
</form>