<div class="span3" xmlns="http://www.w3.org/1999/html"></div>
<div class="span6">
  <%= post_answer_question_path(1) %>
  <form class="form-horizontal" action='<%= post_answer_question_path(params[:id])%>' method="post">
    <div class="question" style="float:left">
      <h2>Are you attending the Kovai hackathon?</h2>
    </div>
      <input type="radio" value="Yes" name="option" class="radio" checked="checked">  Yes  </input> <br/>
      <input type="radio" value="No" name="option" class="radio"> No </input> <br/>
      <input type="radio" value="Maybe" name="option" class="radio"> Maybe </input>

    <div class="control-group">
        <button type="submit" class="btn">Submit</button>
    </div>
</form>
</div>
<div class="span3">
</div>