.graph{
  width:  500px;
}
.control-group {
  margin-top:20px;
}

.radio {
  height:35px;


}

label {
  font-size:  0.95em;
}
input[type="radio"]
  {
  clear:none; margin: 2px 0 0 2px;
}

body {
  font-size: 1.2em;
}